In [40]:
import re
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import xgboost as xgb
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import Imputer
from sklearn.feature_extraction import DictVectorizer
from sklearn.model_selection import cross_val_score 
from xgboost.sklearn import XGBClassifier

In [76]:
data_train = pd.read_csv('../input/train.csv')
data_test = pd.read_csv('../input/test.csv')
target = data_train.Survived

data_train.drop(['Survived'], axis=1, inplace=True)
print(data_train.describe())
print(data_test.describe())
data_all = pd.concat([data_train, data_test])
print(data_all.Name.describe())

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean    446.000000    2.308642   29.699118    0.523008    0.381594   32.204208
std     257.353842    0.836071   14.526497    1.102743    0.806057   49.693429
min       1.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%     223.500000    2.000000   20.125000    0.000000    0.000000    7.910400
50%     446.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%     668.500000    3.000000   38.000000    1.000000    0.000000   31.000000
max     891.000000    3.000000   80.000000    8.000000    6.000000  512.329200
       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200
count                     1309
unique                    1307
top       Connolly, Miss. Kate
freq                         2
Name: Name, dtype: object

In [120]:

def construct_name_title_age_map(data):
    _data = pd.DataFrame.copy(data)
    _data['NameTitle'] = _data.Name.apply(lambda name: re.findall(r'.+, (\w+). .+', name)[0])
    titles = _data.NameTitle.unique()
    title_group = _data.groupby('NameTitle')
    return {title: title_group.get_group(title).Age.mean().astype(int) for title in titles}

def fix_age_using_name_title(data, title_age_map):
    _data = pd.DataFrame.copy(data)
    _data['NameTitle'] = _data.Name.apply(lambda name: re.findall(r'.+, (\w+). .+', name)[0])
    for title, mage in title_age_map.items():
        _data.loc[(_data.Age.isna().any()) & (_data.NameTitle == title), 'Age'] = mage
    return _data

        
name_title_age_map = construct_name_title_age_map(data_all)
# Following use to fix data's missing Age with mean age of the same title
fix_age_using_name_title(data_train, name_title_age_map)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,NameTitle
0,1,3,"Braund, Mr. Owen Harris",male,32.0,1,0,A/5 21171,7.2500,NaN,S,Mr
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,36.0,1,0,PC 17599,71.2833,C85,C,Mrs
2,3,3,"Heikkinen, Miss. Laina",female,21.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,36.0,1,0,113803,53.1000,C123,S,Mrs
4,5,3,"Allen, Mr. William Henry",male,32.0,0,0,373450,8.0500,NaN,S,Mr
5,6,3,"Moran, Mr. James",male,32.0,0,0,330877,8.4583,NaN,Q,Mr
6,7,1,"McCarthy, Mr. Timothy J",male,32.0,0,0,17463,51.8625,E46,S,Mr
7,8,3,"Palsson, Master. Gosta Leonard",male,5.0,3,1,349909,21.0750,NaN,S,Master
8,9,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,36.0,0,2,347742,11.1333,NaN,S,Mrs
9,10,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,36.0,1,0,237736,30.0708,NaN,C,Mrs
10,11,3,"Sandstrom, Miss. Marguerite Rut",female,21.0,1,1,PP 9549,16.7000,G6,S,Miss
11,12,1,"Bonnell, Miss. Elizabeth",female,21.0,0,0,113783,26.5500,C103,S,Miss
12,13,3,"Saundercock, Mr. William Henry",male,32.0,0,0,A/5. 2151,8.0500,NaN,S,Mr
13,14,3,"Andersson, Mr. Anders Johan",male,32.0,1,5,347082,31.2750,NaN,S,Mr
14,15,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,21.0,0,0,350406,7.8542,NaN,S,Miss
15,16,2,"Hewlett, Mrs. (Mary D Kingcome)",female,36.0,0,0,248706,16.0000,NaN,S,Mrs
16,17,3,"Rice, Master. Eugene",male,5.0,4,1,382652,29.1250,NaN,Q,Master
17,18,2,"Williams, Mr. Charles Eugene",male,32.0,0,0,244373,13.0000,NaN,S,Mr
18,19,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,36.0,1,0,345763,18.0000,NaN,S,Mrs
19,20,3,"Masselmani, Mrs. Fatima",female,36.0,0,0,2649,7.2250,NaN,C,Mrs
20,21,2,"Fynney, Mr. Joseph J",male,32.0,0,0,239865,26.0000,NaN,S,Mr
21,22,2,"Beesley, Mr. Lawrence",male,32.0,0,0,248698,13.0000,D56,S,Mr
22,23,3,"McGowan, Miss. Anna ""Annie""",female,21.0,0,0,330923,8.0292,NaN,Q,Miss
23,24,1,"Sloper, Mr. William Thompson",male,32.0,0,0,113788,35.5000,A6,S,Mr
24,25,3,"Palsson, Miss. Torborg Danira",female,21.0,3,1,349909,21.0750,NaN,S,Miss
25,26,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,36.0,1,5,347077,31.3875,NaN,S,Mrs
26,27,3,"Emir, Mr. Farred Chehab",male,32.0,0,0,2631,7.2250,NaN,C,Mr
27,28,1,"Fortune, Mr. Charles Alexander",male,32.0,3,2,19950,263.0000,C23 C25 C27,S,Mr
28,29,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,21.0,0,0,330959,7.8792,NaN,Q,Miss
29,30,3,"Todoroff, Mr. Lalio",male,32.0,0,0,349216,7.8958,NaN,S,Mr
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,2,"Giles, Mr. Frederick Edward",male,32.0,1,0,28134,11.5000,NaN,S,Mr
862,863,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,36.0,0,0,17466,25.9292,D17,S,Mrs
863,864,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,21.0,8,2,CA. 2343,69.5500,NaN,S,Miss
864,865,2,"Gill, Mr. John William",male,32.0,0,0,233866,13.0000,NaN,S,Mr
865,866,2,"Bystrom, Mrs. (Karolina)",female,36.0,0,0,236852,13.0000,NaN,S,Mrs
866,867,2,"Duran y More, Miss. Asuncion",female,21.0,1,0,SC/PARIS 2149,13.8583,NaN,C,Miss
867,868,1,"Roebling, Mr. Washington Augustus II",male,32.0,0,0,PC 17590,50.4958,A24,S,Mr
868,869,3,"van Melkebeke, Mr. Philemon",male,32.0,0,0,345777,9.5000,NaN,S,Mr
869,870,3,"Johnson, Master. Harold Theodor",male,5.0,1,1,347742,11.1333,NaN,S,Master
870,871,3,"Balkic, Mr. Cerin",male,32.0,0,0,349248,7.8958,NaN,S,Mr
871,872,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,36.0,1,1,11751,52.5542,D35,S,Mrs
872,873,1,"Carlsson, Mr. Frans Olof",male,32.0,0,0,695,5.0000,B51 B53 B55,S,Mr
873,874,3,"Vander Cruyssen, Mr. Victor",male,32.0,0,0,345765,9.0000,NaN,S,Mr
874,875,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,36.0,1,0,P/PP 3381,24.0000,NaN,C,Mrs
875,876,3,"Najib, Miss. Adele Kiamie ""Jane""",female,21.0,0,0,2667,7.2250,NaN,C,Miss
876,877,3,"Gustafsson, Mr. Alfred Ossian",male,32.0,0,0,7534,9.8458,NaN,S,Mr
877,878,3,"Petroff, Mr. Nedelio",male,32.0,0,0,349212,7.8958,NaN,S,Mr
878,879,3,"Laleff, Mr. Kristo",male,32.0,0,0,349217,7.8958,NaN,S,Mr
879,880,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,36.0,0,1,11767,83.1583,C50,C,Mrs
880,881,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,36.0,0,1,230433,26.0000,NaN,S,Mrs
881,882,3,"Markun, Mr. Johann",male,32.0,0,0,349257,7.8958,NaN,S,Mr
882,883,3,"Dahlberg, Miss. Gerda Ulrika",female,21.0,0,0,7552,10.5167,NaN,S,Miss
883,884,2,"Banfield, Mr. Frederick James",male,32.0,0,0,C.A./SOTON 34068,10.5000,NaN,S,Mr
884,885,3,"Sutehall, Mr. Henry Jr",male,32.0,0,0,SOTON/OQ 392076,7.0500,NaN,S,Mr
885,886,3,"Rice, Mrs. William (Margaret Norton)",female,36.0,0,5,382652,29.1250,NaN,Q,Mrs
886,887,2,"Montvila, Rev. Juozas",male,41.0,0,0,211536,13.0000,NaN,S,Rev
887,888,1,"Graham, Miss. Margaret Edith",female,21.0,0,0,112053,30.0000,B42,S,Miss
888,889,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,21.0,1,2,W./C. 6607,23.4500,NaN,S,Miss
889,890,1,"Behr, Mr. Karl Howell",male,32.0,0,0,111369,30.0000,C148,C,Mr
890,891,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Mr

In [ ]:
def convert_sex(sex_column):
    """
    Convert Sex to 
    """
    sex_map = {'male': 0, 'female': 1}
    return sex_column.apply(lambda sex: sex_map[sex])

def convert_embarked(embarked_column):
    """
    Convert Embarked
    """
    dic = {'S': 0, 'C': 1, 'Q': 2}
    return embarked_column.apply(lambda embarked: dic.get(embarked, 0))

def construct_family_size(data):
    """
    Convert FamilySize
    """
    return data.SibSp + data.Parch

def convert_age(data):
    """
    Convert Age
    """
    data_copied = pd.DataFrame.copy(data)
#     data_copied['AgeBand'] = pd.cut(data_copied['Age'], 6)
# Here should use in price
    data_copied.Age = data_copied.Age / data_copied.FamilySize
    data_copied.loc[ data_copied['Age'] <= 14, 'Age'] = 0
    data_copied.loc[(data_copied['Age'] > 14) & (data_copied['Age'] <= 28), 'Age'] = 1
    data_copied.loc[(data_copied['Age'] > 28) & (data_copied['Age'] <= 42), 'Age'] = 2
    data_copied.loc[(data_copied['Age'] > 42) & (data_copied['Age'] <= 56), 'Age'] = 3
    data_copied.loc[(data_copied['Age'] > 56) & (data_copied['Age'] <= 70), 'Age'] = 4
    data_copied.loc[(data_copied['Age'] > 70)] = 5
    data_copied['Age'] = data_copied['Age'].astype(int)
#     data_copied = data_copied.drop(['AgeBand'], axis=1)
    return data_copied

def update_nan_age(data, target_index=5, title_index=-2):
    data_name_title_group = data.groupby('NameTitle')
    data_copied = pd.DataFrame.copy(data)
    for v in data_copied.values:
        mean_age = data_name_title_group.get_group(v[title_index]).Age.mean()
        
        if pd.isna(v[target_index]) or pd.isnull(v)[target_index]:
            data_copied.loc[data_copied.PassengerId == v[0], 'Age'] = 0 if pd.isna(mean_age) else mean_age
    return data_copied



def update_nan_cabin(data, target_index=10, pclass_index=2):
    data_copied = pd.DataFrame.copy(data)
    cabin_map = {key: index for index, key in enumerate('ABCDEFGHIJKLMNOPQRSTUVWXYZ')}
    data_copied.Cabin = data_copied.Cabin.apply(lambda cabin: cabin if pd.isna(cabin) else cabin_map[cabin[0]])
    pclass_group = data_copied.groupby('Pclass')
    print(pclass_group.get_group(1).Cabin.value_counts().index[0])
    for v in data_copied.values:
        if pd.isna(v[target_index]) or pd.isnull(v)[target_index]:
            data_copied.loc[data_copied.PassengerId == v[0], 'Cabin'] = pclass_group.get_group(v[pclass_index]).Cabin.value_counts().index[0]
    return data_copied



def drop_unnecessary(data):
    return data.drop(['Ticket', 'Name', 'NameTitle', 'SibSp', 'Parch', 'Embarked'], axis=1)

2.0

In [ ]:
xgb_model = XGBClassifier(
    learning_rate =0.05,
     n_estimators=235,
     max_depth=5,
     min_child_weight=0.45,
     gamma=1.7,
     subsample=0.6,
     colsample_bytree=0.825,
     objective= 'binary:logistic',
     nthread=8,
     seed=27)