In [3]:
import re
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import xgboost as xgb
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import Imputer
from sklearn.feature_extraction import DictVectorizer
from sklearn.model_selection import cross_val_score 
from xgboost.sklearn import XGBClassifier

In [4]:
data_train = pd.read_csv('../input/train.csv')
data_test = pd.read_csv('../input/test.csv')
print(data_train.shape, data_test.shape)
pd.merge(data_test, data_train)
data_all = pd.concat([data_train, data_test])

(891, 12) (418, 11)

In [9]:

def construct_name_title_age_map(data):
    _data = pd.DataFrame.copy(data)
    print(data)
    _data.NameTitle = data.Name.apply(lambda name: re.findall(r'.+, (\w+). .+', name)[0])
    print(_data.NameTitle.unique())
    for title in _data.NameTile.unqiue():
        
    group = _data.groupby('NameTitle')
#     print(group.get_group('Mr').index)
#     age = 
construct_name_title_age_map(data_all)

      Age        Cabin Embarked      Fare  \
0    22.0          NaN        S    7.2500
1    38.0          C85        C   71.2833
2    26.0          NaN        S    7.9250
3    35.0         C123        S   53.1000
4    35.0          NaN        S    8.0500
5     NaN          NaN        Q    8.4583
6    54.0          E46        S   51.8625
7     2.0          NaN        S   21.0750
8    27.0          NaN        S   11.1333
9    14.0          NaN        C   30.0708
10    4.0           G6        S   16.7000
11   58.0         C103        S   26.5500
12   20.0          NaN        S    8.0500
13   39.0          NaN        S   31.2750
14   14.0          NaN        S    7.8542
15   55.0          NaN        S   16.0000
16    2.0          NaN        Q   29.1250
17    NaN          NaN        S   13.0000
18   31.0          NaN        S   18.0000
19    NaN          NaN        C    7.2250
20   35.0          NaN        S   26.0000
21   34.0          D56        S   13.0000
22   15.0          NaN        Q    8.0292
23   28.0           A6        S   35.5000
24    8.0          NaN        S   21.0750
25   38.0          NaN        S   31.3875
26    NaN          NaN        C    7.2250
27   19.0  C23 C25 C27        S  263.0000
28    NaN          NaN        Q    7.8792
29    NaN          NaN        S    7.8958
..    ...          ...      ...       ...
388  21.0          NaN        Q    7.7500
389   6.0          NaN        S   21.0750
390  23.0          B24        S   93.5000
391  51.0          D28        S   39.4000
392  13.0          NaN        S   20.2500
393  47.0          NaN        S   10.5000
394  29.0          NaN        S   22.0250
395  18.0          C31        S   60.0000
396  24.0          NaN        Q    7.2500
397  48.0          B41        C   79.2000
398  22.0          NaN        S    7.7750
399  31.0          NaN        Q    7.7333
400  30.0           C7        S  164.8667
401  38.0          NaN        S   21.0000
402  22.0          NaN        C   59.4000
403  17.0          NaN        S   47.1000
404  43.0          D40        C   27.7208
405  20.0          D38        C   13.8625
406  23.0          NaN        S   10.5000
407  50.0          C80        C  211.5000
408   NaN          NaN        Q    7.7208
409   3.0          NaN        S   13.7750
410   NaN          NaN        Q    7.7500
411  37.0          C78        Q   90.0000
412  28.0          NaN        S    7.7750
413   NaN          NaN        S    8.0500
414  39.0         C105        C  108.9000
415  38.5          NaN        S    7.2500
416   NaN          NaN        S    8.0500
417   NaN          NaN        C   22.3583

                                                  Name  Parch  PassengerId  \
0                              Braund, Mr. Owen Harris      0            1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...      0            2
2                               Heikkinen, Miss. Laina      0            3
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)      0            4
4                             Allen, Mr. William Henry      0            5
5                                     Moran, Mr. James      0            6
6                              McCarthy, Mr. Timothy J      0            7
7                       Palsson, Master. Gosta Leonard      1            8
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)      2            9
9                  Nasser, Mrs. Nicholas (Adele Achem)      0           10
10                     Sandstrom, Miss. Marguerite Rut      1           11
11                            Bonnell, Miss. Elizabeth      0           12
12                      Saundercock, Mr. William Henry      0           13
13                         Andersson, Mr. Anders Johan      5           14
14                Vestrom, Miss. Hulda Amanda Adolfina      0           15
15                    Hewlett, Mrs. (Mary D Kingcome)       0           16
16                                Rice, Master. Eugene      1           17
17                        Williams, Mr. Charles Eugene      0           18
18   Vander Planke, Mrs. Julius (Emelia Maria Vande...      0           19
19                             Masselmani, Mrs. Fatima      0           20
20                                Fynney, Mr. Joseph J      0           21
21                               Beesley, Mr. Lawrence      0           22
22                         McGowan, Miss. Anna "Annie"      0           23
23                        Sloper, Mr. William Thompson      0           24
24                       Palsson, Miss. Torborg Danira      1           25
25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...      5           26
26                             Emir, Mr. Farred Chehab      0           27
27                      Fortune, Mr. Charles Alexander      2           28
28                       O'Dwyer, Miss. Ellen "Nellie"      0           29
29                                 Todoroff, Mr. Lalio      0           30
..                                                 ...    ...          ...
388                               Canavan, Mr. Patrick      0         1280
389                        Palsson, Master. Paul Folke      1         1281
390                         Payne, Mr. Vivian Ponsonby      0         1282
391     Lines, Mrs. Ernest H (Elizabeth Lindsey James)      1         1283
392                      Abbott, Master. Eugene Joseph      2         1284
393                               Gilbert, Mr. William      0         1285
394                           Kink-Heilmann, Mr. Anton      1         1286
395     Smith, Mrs. Lucien Philip (Mary Eloise Hughes)      0         1287
396                               Colbert, Mr. Patrick      0         1288
397  Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...      1         1289
398                     Larsson-Rondberg, Mr. Edvard A      0         1290
399                           Conlon, Mr. Thomas Henry      0         1291
400                            Bonnell, Miss. Caroline      0         1292
401                                    Gale, Mr. Harry      0         1293
402                     Gibson, Miss. Dorothy Winifred      1         1294
403                             Carrau, Mr. Jose Pedro      0         1295
404                       Frauenthal, Mr. Isaac Gerald      0         1296
405       Nourney, Mr. Alfred (Baron von Drachstedt")"      0         1297
406                          Ware, Mr. William Jeffery      0         1298
407                         Widener, Mr. George Dunton      1         1299
408                    Riordan, Miss. Johanna Hannah""      0         1300
409                          Peacock, Miss. Treasteall      1         1301
410                             Naughton, Miss. Hannah      0         1302
411    Minahan, Mrs. William Edward (Lillian E Thorpe)      0         1303
412                     Henriksson, Miss. Jenny Lovisa      0         1304
413                                 Spector, Mr. Woolf      0         1305
414                       Oliva y Ocana, Dona. Fermina      0         1306
415                       Saether, Mr. Simon Sivertsen      0         1307
416                                Ware, Mr. Frederick      0         1308
417                           Peter, Master. Michael J      1         1309

     Pclass     Sex  SibSp  Survived              Ticket
0         3    male      1       0.0           A/5 21171
1         1  female      1       1.0            PC 17599
2         3  female      0       1.0    STON/O2. 3101282
3         1  female      1       1.0              113803
4         3    male      0       0.0              373450
5         3    male      0       0.0              330877
6         1    male      0       0.0               17463
7         3    male      3       0.0              349909
8         3  female      0       1.0              347742
9         2  female      1       1.0              237736
10        3  female      1       1.0             PP 9549
11        1  female      0       1.0              113783
12        3    male      0       0.0           A/5. 2151
13        3    male      1       0.0              347082
14        3  female      0       0.0              350406
15        2  female      0       1.0              248706
16        3    male      4       0.0              382652
17        2    male      0       1.0              244373
18        3  female      1       0.0              345763
19        3  female      0       1.0                2649
20        2    male      0       0.0              239865
21        2    male      0       1.0              248698
22        3  female      0       1.0              330923
23        1    male      0       1.0              113788
24        3  female      3       0.0              349909
25        3  female      1       1.0              347077
26        3    male      0       0.0                2631
27        1    male      3       0.0               19950
28        3  female      0       1.0              330959
29        3    male      0       0.0              349216
..      ...     ...    ...       ...                 ...
388       3    male      0       NaN              364858
389       3    male      3       NaN              349909
390       1    male      0       NaN               12749
391       1  female      0       NaN            PC 17592
392       3    male      0       NaN           C.A. 2673
393       2    male      0       NaN          C.A. 30769
394       3    male      3       NaN              315153
395       1  female      1       NaN               13695
396       3    male      0       NaN              371109
397       1  female      1       NaN               13567
398       3    male      0       NaN              347065
399       3    male      0       NaN               21332
400       1  female      0       NaN               36928
401       2    male      1       NaN               28664
402       1  female      0       NaN              112378
403       1    male      0       NaN              113059
404       1    male      1       NaN               17765
405       2    male      0       NaN       SC/PARIS 2166
406       2    male      1       NaN               28666
407       1    male      1       NaN              113503
408       3  female      0       NaN              334915
409       3  female      1       NaN  SOTON/O.Q. 3101315
410       3  female      0       NaN              365237
411       1  female      1       NaN               19928
412       3  female      0       NaN              347086
413       3    male      0       NaN           A.5. 3236
414       1  female      0       NaN            PC 17758
415       3    male      0       NaN  SOTON/O.Q. 3101262
416       3    male      0       NaN              359309
417       3    male      1       NaN                2668

[1309 rows x 12 columns]
['Mr' 'Mrs' 'Miss' 'Master' 'Don' 'Rev' 'Dr' 'Mme' 'Ms' 'Major' 'Lady'
 'Sir' 'Mlle' 'Col' 'Capt' 'th' 'Jonkheer' 'Dona']

c:\users\jferroal\.venvs\ds\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """

KeyError: 'NameTitle'

In [ ]:
def convert_sex(sex_column):
    """
    Convert Sex to 
    """
    sex_map = {'male': 0, 'female': 1}
    return sex_column.apply(lambda sex: sex_map[sex])

def convert_embarked(embarked_column):
    """
    Convert Embarked
    """
    dic = {'S': 0, 'C': 1, 'Q': 2}
    return embarked_column.apply(lambda embarked: dic.get(embarked, 0))

def construct_family_size(data):
    """
    Convert FamilySize
    """
    return data.SibSp + data.Parch

def convert_age(data):
    """
    Convert Age
    """
    data_copied = pd.DataFrame.copy(data)
#     data_copied['AgeBand'] = pd.cut(data_copied['Age'], 6)
    data_copied.Age = data_copied.Age / data_copied.FamilySize
    data_copied.loc[ data_copied['Age'] <= 14, 'Age'] = 0
    data_copied.loc[(data_copied['Age'] > 14) & (data_copied['Age'] <= 28), 'Age'] = 1
    data_copied.loc[(data_copied['Age'] > 28) & (data_copied['Age'] <= 42), 'Age'] = 2
    data_copied.loc[(data_copied['Age'] > 42) & (data_copied['Age'] <= 56), 'Age'] = 3
    data_copied.loc[(data_copied['Age'] > 56) & (data_copied['Age'] <= 70), 'Age'] = 4
    data_copied.loc[(data_copied['Age'] > 70)] = 5
    data_copied['Age'] = data_copied['Age'].astype(int)
#     data_copied = data_copied.drop(['AgeBand'], axis=1)
    return data_copied

def update_nan_age(data, target_index=5, title_index=-2):
    data_name_title_group = data.groupby('NameTitle')
    data_copied = pd.DataFrame.copy(data)
    for v in data_copied.values:
        mean_age = data_name_title_group.get_group(v[title_index]).Age.mean()
        
        if pd.isna(v[target_index]) or pd.isnull(v)[target_index]:
            data_copied.loc[data_copied.PassengerId == v[0], 'Age'] = 0 if pd.isna(mean_age) else mean_age
    return data_copied



def update_nan_cabin(data, target_index=10, pclass_index=2):
    data_copied = pd.DataFrame.copy(data)
    cabin_map = {key: index for index, key in enumerate('ABCDEFGHIJKLMNOPQRSTUVWXYZ')}
    data_copied.Cabin = data_copied.Cabin.apply(lambda cabin: cabin if pd.isna(cabin) else cabin_map[cabin[0]])
    pclass_group = data_copied.groupby('Pclass')
    print(pclass_group.get_group(1).Cabin.value_counts().index[0])
    for v in data_copied.values:
        if pd.isna(v[target_index]) or pd.isnull(v)[target_index]:
            data_copied.loc[data_copied.PassengerId == v[0], 'Cabin'] = pclass_group.get_group(v[pclass_index]).Cabin.value_counts().index[0]
    return data_copied



def drop_unnecessary(data):
    return data.drop(['Ticket', 'Name', 'NameTitle', 'SibSp', 'Parch', 'Embarked'], axis=1)

2.0

In [ ]:
xgb_model = XGBClassifier(
    learning_rate =0.05,
     n_estimators=235,
     max_depth=5,
     min_child_weight=0.45,
     gamma=1.7,
     subsample=0.6,
     colsample_bytree=0.825,
     objective= 'binary:logistic',
     nthread=8,
     seed=27)